#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
sfdc.login.endpoint=${org.apache.unomi.sfdc.login.endpoint:-https://login.salesforce.com}
sfdc.user.username=${org.apache.unomi.sfdc.user.username:-}
sfdc.user.password=${org.apache.unomi.sfdc.user.password:-}
sfdc.user.securityToken=${org.apache.unomi.sfdc.user.securityToken:-}
sfdc.consumer.key=${org.apache.unomi.sfdc.consumer.key:-}
sfdc.consumer.secret=${org.apache.unomi.sfdc.consumer.secret:-}
sfdc.channel=${org.apache.unomi.sfdc.channel:-/topic/LeadUpdates}
# Property Mapping Example: unomiPropertyId<=>SFDCPropertyId
sfdc.fields.mappings=${org.apache.unomi.sfdc.fields.mappings:-email<=>Email,firstName<=>FirstName,lastName<=>LastName,company<=>Company,phoneNumber<=>Phone,jobTitle<=>Title,city<=>City,zipCode<=>PostalCode,address<=>Street,sfdcStatus<=>Status,sfdcRating<=>Rating}
sfdc.fields.mappings.identifier=${org.apache.unomi.sfdc.fields.mappings.identifier:-email<=>Email}
sfdc.checkIfContactExistBeforeLeadCreation=${org.apache.unomi.sfdc.checkIfContactExistBeforeLeadCreation:-false}
sfdc.session.timeout=${org.apache.unomi.sfdc.session.timeout:-900000}
# Consent Mapping Example: unomiConsentId<=>SFDCPropertyId
sfdc.fields.consents=${org.apache.unomi.sfdc.fields.consents:-}
