<div class="perso">
    <div class="block">
        <div class="remove-condition">
            <a href="#" ng-click="onRemove(parentValue,parentIndex)"><i class="icon-remove"></i></a>
        </div>
    Set user property
    &nbsp;
    <select ng-model="ref.parameterValues.propertyName" ng-options="parameter.id as parameter.name for parameter in getActionParameterChoiceListValues(ref, 'propertyName')" class="form-control">
    </select>
    to
    &nbsp;
    <input ng-model="ref.parameterValues.propertyValue" type="text"/>
    </div>
</div>
