<div class="perso">
    <div class="remove-condition">
        <a href="#" ng-click="onRemove(parentValue,parentIndex)"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
    <div ng-repeat="child in ref.parameterValues.subConditions">
        <div class="block">
            <condition ref="child" parent-ref="ref" parent-name="'subConditions'"
                       parent-value="ref.parameterValues.subConditions" parent-index="$index" types="types"
                       base-url="baseUrl"/>
        </div>
        <div class="operator" translate>AND_LABEL</div>
    </div>
    <div class="block" ui-on-drop="onDrop($event,$data,'subConditions')" translate>DRAG_AND_DROP_CONDITION_LABEL</div>
</div>
