<div class="perso">
    <div ng-repeat="child in ref.parameterValues.subConditions">
        <div class="block">
            <condition ref="child" parent-ref="ref" parent-name="'subConditions'"
                       parent-value="ref.parameterValues.subConditions" parent-index="$index" types="types" />
        </div>
        <div class="operator">
            <select name="operator" ng-model="ref.parameterValues.operator">
                <option value="and">#{AND_LABEL}</option>
                <option value="or">#{OR_LABEL}</option>
            </select>
        </div>
    </div>

    <div class="block">
        <select name="selectedProperty" ng-model="added.subConditions" ng-change="addCondition('subConditions')"
                ng-options="value as value.name for value in conditionTypes">
        </select>

        <!--<div class="btn-group">-->
        <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">-->
        <!--Add new condition <span class="caret"></span>-->
        <!--</button>-->
        <!--<ul class="dropdown-menu" role="menu">-->
        <!--<li ng-repeat-start="(name, value) in conditonsByTag" role="presentation" class="dropdown-header">{{name}}</li>-->
        <!--<li role="presentation"  ng-repeat="v in value"><a role="menuitem" tabindex="-1" ng-click="addCondition('subConditions',v)">{{v.id}}</a></li>-->
        <!--<li role="presentation" class="divider" ng-repeat-end></li>-->
        <!--</ul>-->
        <!--</div>-->
    </div>
</div>
