<div class="perso">
    <div class="block">
        <div class="remove-condition">
            <a href="#" ng-click="onRemove(parentValue,parentIndex)"><i class="icon-remove"></i></a>
        </div>
        <span translate>EVENT_LABEL</span>
        &nbsp;
        <select ng-model="ref.parameterValues.propertyName" type="text">
        </select>
        &nbsp;<span translate>IS_LABEL</span>&nbsp;
        <select ng-model="ref.parameterValues.comparisonOperator"
                ng-options="parameter.id as parameter.name | translate for parameter in getConditionParameterChoiceListValues(ref, 'comparisonOperator')"
                >
        </select>
    &nbsp;
        <input ng-model="ref.parameterValues.propertyValue" type="text"/>
    </div>
</div>
