<div class="perso clearfix">
    <div class="block clearfix form-inline">
        <div class="form-group">
            <label>#{LATITUDE_LABEL}</label>
            <input ng-model="ref.parameterValues.latitude" class="form-control" type="text"/>
        </div>
        <div class="form-group">
            <label>#{LONGITUDE_LABEL}</label>
            <input ng-model="ref.parameterValues.longitude" class="form-control" type="text"/>
        </div>
        <div class="form-group">
            <label>#{DISTANCE_LABEL}</label>
            <input ng-model="ref.parameterValues.distance" class="form-control" type="text"/>
        </div>
    </div>
</div>
