<div class="perso">
    <div class="block">
        #{NOT_LABEL} :
        <div ng-if="!ref.parameterValues.subCondition">
            <select name="selectedProperty" ng-model="added.subCondition" ng-change="addCondition('subCondition')"
                    ng-options="value as value.name for value in types">
            </select>
        </div>

        <div ng-if="ref.parameterValues.subCondition">
            <condition ref="ref.parameterValues.subCondition" parent-ref="ref" parent-name="'subCondition'"
                       parent-value="ref.parameterValues.subCondition" parent-index="0" types="types"/>
        </div>
    </div>
</div>
