<div class="perso clearfix">
    <div class="block clearfix form-inline">
        <div class="form-group">
            <label>#{condition.pageViewEventCondition.viewed}</label>
            <site-language-picker ng-model="ref.parameterValues.language"/>
        </div>
    </div>
    <div class="block clearfix form-inline">
        <div class="form-group">
            <label>#{condition.pageViewEventCondition.pagePath}</label>
            <input ng-model="ref.parameterValues.pagePath" type="text" class="form-control"/>
            <page-picker ng-model="ref.parameterValues.pagePath"/>
        </div>
    </div>
</div>
