<div class="block">
    #{condition.pastEventCondition.userRaisedEvent} :

    <div class="block" width="100%">
        <div ng-if="!ref.parameterValues.eventCondition">
            <select name="selectedProperty" ng-model="added.eventCondition" ng-change="addCondition('eventCondition')"
                    ng-options="value as value.name for value in eventConditionTypes">
            </select>
        </div>

        <div ng-if="ref.parameterValues.eventCondition">
            <condition ref="ref.parameterValues.eventCondition" parent-ref="ref" parent-name="'eventCondition'"
                       parent-value="ref.parameterValues.eventCondition" parent-index="0" types="eventConditionTypes"/>
        </div>
    </div>

    <div class="block">
        <div class="input-group">
            #{condition.pastEventCondition.numberOfDays} : <input ng-model="ref.parameterValues.numberOfDays" min="1" type="number"/> #{condition.pastEventCondition.days}
        </div>

        <div class="input-group">
            #{condition.pastEventCondition.minimumCount} : <input ng-model="ref.parameterValues.minimumEventCount" min="1" type="number"/> #{condition.pastEventCondition.times} /
            #{condition.pastEventCondition.maximumCount} : <input ng-model="ref.parameterValues.maximumEventCount" min="1" type="number"/> #{condition.pastEventCondition.times}
        </div>
    </div>
</div>
