<div class="perso perso-alternate">
    <div class="remove-condition">
        <a href="#" ng-click="onRemove(parentValue,parentIndex)"><i class="icon-remove"></i></a>
    </div>
    <span translate>IN_THE_LAST_X_DAYS_LABEL</span>
    <input ng-model="ref.parameterValues.numberOfDays" type="text"/>
    <span translate>PROFILE_DID_X_TIMES</span>
    <input ng-model="ref.parameterValues.count" type="text"/>
    <span translate>PROFILE_DID_EVENT_LABEL</span>

    <select name="selectedProperty" ng-model="selected.eventCondition"
            ng-options="value as value.nameKey | translate for value in eventConditionTypes">
    </select>

    <condition ref="ref.parameterValues.eventCondition" parent-ref="ref" parent-name="'eventCondition'" parent-value="ref.parameterValues.eventCondition" parent-index="$index" types="types" base-url="baseUrl"/>

</div>
