<div class="perso clearfix">
    <div class="block clearfix form-inline">
        <div class="form-group">
            <label>#{condition.propertyCondition.profile}</label>
            <select class="form-control" ng-model="ref.parameterValues.propertyName"
                    ng-options="parameter.id as parameter.name for parameter in getConditionParameterChoiceListValues(ref, 'propertyName')"
                    >
            </select>
        </div>
        <div class="form-group">
            <label>#{comparisonOperator.is}</label>
            <select class="form-control" ng-model="ref.parameterValues.comparisonOperator"
                    ng-options="parameter.id as parameter.name for parameter in getConditionParameterChoiceListValues(ref, 'comparisonOperator')"
                    >
            </select>
         </div>
        <div class="form-group">
            <span ng-switch on="isMultivaluePropertyField()">
                <span ng-switch-when="false">
                    <span ng-switch on="getPropertyValueFieldType()">
                        <span ng-switch-when="none"></span>
                        <span ng-switch-when="integer"><input ng-model="ref.parameterValues.propertyValue" class="form-control" type="number"/></span>
                        <span ng-switch-when="date"><input ng-model="ref.parameterValues.propertyValue" class="form-control" type="date" placeholder="yyyy-MM-dd" label="yyyy-MM-dd"/></span>
                        <span ng-switch-when="email"><input ng-model="ref.parameterValues.propertyValue" class="form-control" type="email"/></span>
                        <span ng-switch-default><input ng-model="ref.parameterValues.propertyValue" class="form-control" type="text"/></span>
                    </span>
                </span>
                <span ng-switch-when="true">
                        <div ng-repeat="currentValue in ref.parameterValues.propertyValues track by $index">
                            <div class="form-group form-group-margin-bottom">
                                <button ng-click="onRemoveValue($index)"><i class="glyphicon glyphicon-minus-sign"></i></button>
                                <span ng-switch on="getPropertyValueFieldType()">
                                    <span ng-switch-when="integer"><input ng-model="ref.parameterValues.propertyValues[$index]" class="form-control" type="number"/></span>
                                    <span ng-switch-when="date"><input ng-model="ref.parameterValues.propertyValues[$index]" class="form-control" type="date" placeholder="yyyy-MM-dd" label="yyyy-MM-dd"/></span>
                                    <span ng-switch-when="email"><input ng-model="ref.parameterValues.propertyValues[$index]" class="form-control" type="email"/></span>
                                    <span ng-switch-default><input ng-model="ref.parameterValues.propertyValues[$index]" class="form-control" type="text"/></span>
                                </span>
                            </div>
                        </div>
                        <button ng-click="onAddValue()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                </span>
            </span>
        </div>
    </div>
</div>
