<div class="perso clearfix">
    <div class="block clearfix form-inline">
        <div class="form-group">
            <label>#{condition.profileInterestCondition.profileInterestIn}</label>
            <input ng-model="ref.parameterValues.propertyName" class="form-control" type="text"/>
        </div>
        <div class="form-group">
            <label>#{comparisonOperator.is}</span>&nbsp;<span>#{comparisonOperator.greaterThan}</label>
            <input ng-model="ref.parameterValues.propertyValue" class="form-control" type="number"/>
        </div>
    </div>
</div>
