<div class="perso">
    <div class="block">
        <div class="remove-condition">
            <a href="#" ng-click="onRemove(parentValue,parentIndex)"><i class="icon-remove"></i></a>
        </div>

        <span translate>PROFILE_INTEREST</span>

        <input ng-model="ref.parameterValues.propertyName" type="text"/>

        &nbsp;<span translate>IS</span>&nbsp;<span translate>GREATER_THAN_LABEL</span>&nbsp;

        <input ng-model="ref.parameterValues.propertyValue" type="number"/>
    </div>
</div>
