<div class="perso">
    <div class="block">
        <span>#{PROFILE_SEGMENTS_LABEL}</span>
        &nbsp;
        <select ng-model="ref.parameterValues.matchType" class="form-control">
            <option value="all"><span>#{ALL_SEGMENTS_MATCH_LABEL}</span></option>
            <option value="some"><span>#{SOME_SEGMENTS_MATCH_LABEL}</span></option>
            <option value="none"><span>#{NONE_SEGMENTS_MATCH_LABEL}</span></option>
        </select>
        &nbsp;
        <select ng-model="ref.parameterValues.segments" multiple="true"
                ng-options="parameter.id as parameter.name for parameter in getConditionParameterChoiceListValues(ref, 'segments')"
                >
        </select>
    </div>
</div>
