<div class="perso">
    <div class="block">
        <span>#{SESSION_LABEL}</span>
        &nbsp;
        <select ng-model="ref.parameterValues.propertyName"
                ng-options="parameter.id as parameter.name for parameter in getConditionParameterChoiceListValues(ref, 'propertyName')"
                >
        </select>
        &nbsp;<span>#{IS_LABEL}</span>&nbsp;
        <select ng-model="ref.parameterValues.comparisonOperator"
                ng-options="parameter.id as parameter.name for parameter in getConditionParameterChoiceListValues(ref, 'comparisonOperator')"
                >
        </select>
        &nbsp;
        <span ng-switch on="isMultivaluePropertyField()">
        	<span ng-switch-when="false">
		        <span ng-switch on="getPropertyValueFieldType()">
            		<span ng-switch-when="none"></span>
		            <span ng-switch-when="integer"><input ng-model="ref.parameterValues.propertyValue" type="number"/></span>
		            <span ng-switch-when="date"><input ng-model="ref.parameterValues.propertyValue" type="date" placeholder="yyyy-MM-dd" label="yyyy-MM-dd"/></span>
		            <span ng-switch-when="email"><input ng-model="ref.parameterValues.propertyValue" type="email"/></span>
		            <span ng-switch-default><input ng-model="ref.parameterValues.propertyValue" type="text"/></span>
		        </span>
        	</span>
        	<span ng-switch-when="true">
		        	<div ng-repeat="currentValue in ref.parameterValues.propertyValues track by $index">
		            	<button ng-click="onRemoveValue($index)"><i class="glyphicon glyphicon-minus-sign"></i></button>
				        <span ng-switch on="getPropertyValueFieldType()">
				            <span ng-switch-when="integer"><input ng-model="ref.parameterValues.propertyValues[$index]" type="number"/></span>
				            <span ng-switch-when="date"><input ng-model="ref.parameterValues.propertyValues[$index]" type="date" placeholder="yyyy-MM-dd" label="yyyy-MM-dd"/></span>
				            <span ng-switch-when="email"><input ng-model="ref.parameterValues.propertyValues[$index]" type="email"/></span>
				            <span ng-switch-default><input ng-model="ref.parameterValues.propertyValues[$index]" type="text"/></span>
				        </span>
		            </div>
					<button ng-click="onAddValue()"><i class="glyphicon glyphicon-plus-sign"></i></button>
		        </span>
        	</span>
        </span>
    </div>
</div>
