<div class="perso clearfix">
    <div class="block clearfix form-inline">
        <div class="form-group">
            <label>#{condition.sessionDurationCondition.min}</label>
            <input ng-model="ref.parameterValues.minimumDuration" class="form-control" type="number" min="0"/>
        </div>
        <div class="form-group">
            <label>#{condition.sessionDurationCondition.max}</label>
            <input ng-model="ref.parameterValues.maximumDuration" class="form-control" type="number" min="0"/>
        </div>
    </div>
</div>
