.perso > .block {
	background-color:#FFFFFF;
    border:1px solid #DDDDDD;
    margin:0;
    padding: 10px;
    position:relative;
	z-index:100;
	-webkit-box-shadow: 0 8px 6px -6px #eaeaea;
	-moz-box-shadow: 0 8px 6px -6px #eaeaea;
	box-shadow: 0 8px 6px -6px #eaeaea;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.perso > .operator {
	background-color:#FFFFFF;
    border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
    margin-top:-1px;
	margin-bottom:-1px;
    padding: 5px 10px 5px 10px;
    position:relative;
	display:inline-block;
	z-index:101;
	margin-left:20px;
	text-transform:uppercase;
	font-weight: bold;
}

.perso-alternate > .block {
	background-color:#EFEFEB;
}
.perso-alternate > .operator {
	background-color:#EFEFEB;
}
