<div class="perso">
    <div class="block">
        <div class="remove-condition">
            <a href="#" ng-click="onRemove(parentValue,parentIndex)"><i class="icon-remove"></i></a>
        </div>
        <span translate>LATITUDE_LABEL</span>
        &nbsp;
        <input ng-model="ref.parameterValues.latitude" type="text"/>
        <span translate>LONGITUDE_LABEL</span>
        &nbsp;
        <input ng-model="ref.parameterValues.longitude" type="text"/>
        <span translate>DISTANCE_LABEL</span>
        &nbsp;
        <input ng-model="ref.parameterValues.distance" type="text"/>
        &nbsp;
    </div>
</div>
