<div class="perso">
    <div class="block">
        <div class="remove-condition">
            <a href="#" ng-click="onRemove(parentValue,parentIndex)"><i class="icon-remove"></i></a>
        </div>
        <span translate>SESSION_DURATION_MIN_LABEL</span>
        &nbsp;
        <input ng-model="ref.parameterValues.minimumDuration" type="number"/>
        &nbsp;
        <span translate>SESSION_DURATION_MAX_LABEL</span>
        &nbsp;
        <input ng-model="ref.parameterValues.maximmumDuration" type="number"/>
        &nbsp;
    </div>
</div>
