# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Unomi CI - Build and tests

on:
  push:
    branches: [ master, unomi-1.5.x ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 1.8, 11]
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}

    - name: Build
      run: mvn -U -B -e clean install -DskipTests

    - name: Tests
      run: mvn test

    - name: Integration tests
      run: mvn -pl itests clean install -Pintegration-tests
