<div class="perso">
    <div class="block">
        <span>#{action.setPropertyAction.setProperty}</span>
        &nbsp;
        <select ng-model="ref.parameterValues.eventPropertyName"
                ng-options="parameter.id as parameter.name for parameter in getActionParameterChoiceListValues(ref, 'eventPropertyName')">
        </select>
        <span>#{action.setPropertyAction.to}</span>
        &nbsp;
        <select ng-model="ref.parameterValues.profilePropertyName"
                ng-options="parameter.id as parameter.name for parameter in getActionParameterChoiceListValues(ref, 'profilePropertyName')">
        </select>
    </div>
</div>
