<div class="perso">
    <div class="block">
        <span>#{action.setPropertyAction.setProperty}</span>
        &nbsp;
        <select ng-model="ref.parameterValues.setPropertyName"
                ng-options="parameter.id as parameter.name for parameter in getActionParameterChoiceListValues(ref, 'setPropertyName')">
        </select>
        <span>#{action.setPropertyAction.to}</span>
        &nbsp;
        <input ng-model="ref.parameterValues.setPropertyValue" type="text"/>
    </div>
</div>
