<div class="perso clearfix">
    <div class="block clearfix form-inline">
        <div class="form-group">
            <label>#{action.setPropertyAction.setProperty}</label>
            <select class="form-control" ng-model="ref.parameterValues.setPropertyName"
                    ng-options="parameter.id as parameter.name for parameter in getActionParameterChoiceListValues(ref, 'setPropertyName')">
            </select>
        </div>
        <div class="form-group">
            <label>#{action.setPropertyAction.to}</label>
            <input class="form-control" ng-model="ref.parameterValues.setPropertyValue" type="text"/>
        </div>
    </div>
</div>
